.larger:before {
    font-size: 2em;
}
p {
  font-size:12px;
  line-height: 1.5em;
}
span{

    line-height: 1em;
}

.iframee {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.iframed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.modal {
   max-height: 80%;
}

.tableoverflow {
  overflow-x: visible;
    overflow-y: hidden;
}

#tableFilter {margin: 12px 0px; border: none; border-bottom: 1px solid #333; background-color: transparent; padding: 0px; color: #fff; font-size: 13px; height: 22px;}
.noMatches {margin-left: 20px; font-size: 11px; font-style: italic; visibility: hidden;}
#map {height: 400px; max-width: 800px; background: #DADADA;}
#holder {height: 400px; max-width: 600px; background: #FFE4E4;}
#bar2 {height: 320px; max-width: 600px; background: #F8CDCD;}

/*bar charts*/
.labels text {text-align: right;}
.bar .labels text {fill: #333;}
.bar rect {fill: #e6e6e6;}
.axis {shape-rendering: crispEdges;}
.x.axis line {stroke: #FFE4E4; /*stroke-opacity: .2;*/ fill: none;}
.x.axis path {fill: none;}
.x.axis text {fill: #333;}
.xLabel {font-family: sans-serif; font-size: 9px;}
/*mapa*/
.leaflet-popup-content {font-family: Merriweather;}
.leaflet-popup-content h2 {margin-bottom: 4px;}

img.petThumbs {height: 80px; width: 80px; border-radius: 1000px;}
